<md-toolbar color="primary">
  <span>
    <button md-button routerLink="/">
        <md-icon>local_cafe</md-icon>Avocado
      </button>
  </span>
  <span style="flex: 1 1 auto">
  </span>
  <span>
      {{playerName}}
    </span>
</md-toolbar>
<md-sidenav-container>
  <md-sidenav mode="side" opened="true" class="avocado-sidenav">
    <!-- sidenav content -->
    <avocado-chat></avocado-chat>
    <avocado-tiles-panel></avocado-tiles-panel>
  </md-sidenav>

  <!-- primary content -->
  <main class="avocado-main-container">
    <router-outlet></router-outlet>
    <avocado-board></avocado-board>
  </main>
</md-sidenav-container>
